.home {
    // .main .wrapper {
    //     background: url('https://ucarecdn.com/8b1467eb-b148-432e-885d-481e82a14309/-/preview/-/enhance/29/-/sharp/7/') no-repeat;
    //     -webkit-background-size: cover;
    //     -moz-background-size: cover;
    //     -o-background-size: cover;
    //     background-size: contain;
    //     background-position: right 30px top;   
    // }

    .wrapper {
        display: flex;
        flex-flow: wrap;
    }

    .main .wrapper img {
        max-width: 100%; 
        display: block; 
        height: auto;
    }

    .content, .bg {
        flex: 0 0 50%;
        padding: $spacing-unit;
    }

    .header {
        font-family: $heading-font-family;
        font-weight: 100;
        line-height: 72px;
        word-spacing: 999em;
        color: $brand-color;
        @include relative-font-size(4.5);
    }

    .description {
        width: 50%;
    }

    .cta {
        padding: 10px 40px;
        background-color: $brand-color;
        color: black;
        display: inline-block;
        border-radius: 2px;        
    }
}

