.home {
    .main .wrapper {
        background: url(/assets/images/bg.jpg) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: contain;
        background-position: right -2em;        
    }

    .header {
        font-family: $heading-font-family;
        font-weight: 100;
        line-height: 72px;
        word-spacing: 999em;
        color: $brand-color;
        @include relative-font-size(4.5);
    }

    .description {
        width: 50%;
    }

    .cta {
        padding: 10px 40px;
        background-color: $brand-color;
        color: black;
        display: inline-block;
        border-radius: 2px;        
    }
}

