/* ---- GRID ---- */
.painting-listing-container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  display: grid;
  grid-gap: 1rem;
}

/* ---- PAINTING-DETAIL ---- */
.painting-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, min-content));
  grid-auto-rows: auto;
  grid-gap: 20px;

  .painting-detail-image {
    overflow: hidden;
  }

  .painting-detail {
    .size-container {
      justify-content: space-between;
      display: flex;
    }
  }

  .price {
    font-size: 1.5em;
  }
  
  .qty {
    width: 100%;
    margin: 1em 0;
  }
  
  .painting-title {
    margin-bottom: 0;
  } 
    
  .description {
    display: block;
  }
  
  .buy-button {
    width: 100%;
    padding: .5em;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 900;
  } 
}

@include media-query($on-palm) {
  .painting-container {
    
  } 
} 

// select to btn
.selectbtn {
  display: inline-block;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all .2s linear;
  color: #000;
  font-size: 14px;
  width: 32%;
  padding: 0 5px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: 'Montserrat';
}

.selectbtn.selected {
  background-color: $brand-color;
  color: #fff;
}