/* ---- WRAPPER ---- */
.paintings {
    .page-content {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }
}

/* ---- GRID ---- */
.paintings-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

/* CLEARFIX */
.paintings-container:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- GRID-ITEM ---- */
.painting-item {
  flex: 1;
  min-width: 10em;
  margin-right: 1em;
}

/* ---- PAINTING-DETAIL ---- */

.painting {
  display: flex;
  flex-flow: wrap;
}

.price {
  font-size: 1.5em;
}

.qty {
  width: 100%;
  margin: 1em 0;
}

.painting__title {
  margin-bottom: 0;
}

.painting__detail {
  order: 2;
  flex: 1;
  margin-left: 1em;
}

.buy-button {
  width: 100%;
  padding: .5em;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 900;
}