/* ---- GRID ---- */
.painting-listing-container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  display: grid;
  grid-gap: 1rem;
}

/* ---- PAINTING-DETAIL ---- */
.painting-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, min-content));
  grid-auto-rows: auto;
  grid-gap: 20px;

  .painting-detail-image {
    overflow: hidden;
  }

  .painting-detail {
    .size-container {
      justify-content: space-between;
      margin-bottom: 1em;
      display: flex;
    }
  }

  .container {
    display: flex;
    margin-bottom: 1em;

    .frame-container {
      flex: 4;
      .frame-selector {
        cursor: pointer;
        font-size: 14px;
        padding: 5px;
        width: 98%;
        border-radius: 2px;
        font-family: 'Montserrat';   
      }
    }    

    .quantity-container {
      flex: 1;
      .qty {
        width: 100%;
        cursor: pointer;
        border: none;
        font-size: 14px;
        padding: 5px;
        border-radius: 2px;
        font-family: 'Montserrat';
        height: 100%;
      }    
    }    
  }
  
  .painting-title {
    margin-bottom: 1em;
    border-bottom: 1px solid #fff;
  } 
    
  .description {
    display: block;
    margin-bottom: 1em;
  }
  
  .buy-button {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Montserrat';
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    &:hover {
      background: #ccc;
    }
  } 
}

@include media-query($on-palm) {
  .painting-container {
    
  } 
} 

// select to btn
.selectbtn {
  display: inline-block;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: all .2s linear;
  color: #000;
  font-size: 14px;
  width: 32%;
  padding: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  &:hover {
    background: #ccc;
  }
}

.selectbtn.selected {
  background-color: $brand-color;
  color: #fff;
}