<div class="painting-detail">
    <h2 class="painting-title">{{ page.title }}</h2>
    <span class="price">${{page.price2}}</span>
    <span class="description">{{page.description}}</span>

    <!-- Pricing -->
    <div class="size-container">
        <label for="price">Size</label>
        <select id="price" class="price-picker">
            <option value="{{ page.price1 }}" label="{{ page.price1-label }}">{{ page.price1-label }}: ${{page.price1}}</option>
            <option selected value="{{ page.price2 }}">{{ page.price2-label }}: ${{page.price2}}</option>
            <option value="{{ page.price3 }}">{{ page.price3-label }}: ${{page.price3}}</option>
        </select>
    </div>

    <!-- Quantity -->
    <div class="quantity-container">
        <label for="{{ page.identifier }}-qty">Quantity:</label>
        <input type="number" id="{{ page.identifier }}-qty" class="qty" min="1" value="1" />
    </div>

    <!-- Buy button -->
    <button
        class="buy-button snipcart-add-item"
        data-item-quantity="1"
        data-item-stackable="never"
        data-item-id="{{ page.identifier }}"
        data-item-name="{{ page.title }}"
        data-item-size="{{ page.price2-label }}"
        data-item-price="{{ page.price2 }}"
        data-item-image="{{ page.image }}"
        data-item-url="https://staging.fourseasonedstrings.com.au{{ page.url }}"
        data-item-description="{{ page.description | remove: '<p>' | remove: '</p>' }}">
        
        Add to cart
    </button>
</div>