.contact, .custom-order {
    .main .wrapper {
        width: 100%;
        max-width: 25em;
        margin: 0 auto;
    }

    input, textarea {
        width: 170px;
        font-family: $base-font-family;
        font-size: $base-font-size;
        background: none;
        padding: 1em 0;
        width: 100%;
        color: #fff;
        border: none;
        border-bottom: 1px solid #fff;
    }

    .submit-wrapper button {
        padding: 10px 40px;
        background-color: #ec7969;
        color: black;
        border: 0;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase;
        display: inline-block;
        border-radius: 2px;
    }
}