<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="container max-w-3xl mx-auto {{ page.title | downcase}}">
    {% include header.html %}
    <main class="main">
      <div class="wrapper px-4">
        <div class="content">
          {{ content }}
        </div>
        <div class="grid-cols-1 md:grid-cols-2 md:gap-6 md:grid">
          {% for painting in site.paintings limit:2 %}
            {% include paintings-homepage.html %}
          {% endfor %}   
        </div>
      </div>
      
    </main>
    {% include footer.html %}
    {% include netlify-cms.html %}
  </body>
  <script async src="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.js"></script>
  <div id="snipcart" data-config-modal-style="side" data-api-key="MTlhNzQyYTQtOTUwNC00YmUyLWIxMjUtYTIxNDllNmU0MWY2NjM3NDUxNTc0NjM3NDM5MTQ2" hidden></div>  
</html>