---
layout: default
title: Paintings
---
<!-- This is the individual painting page config -->
<div class="painting-container">
  <div class="painting-detail-image">
    <div class="fotorama" 
        data-nav="thumbs"
        data-allowfullscreen="false"
        data-fit="contain"
        data-keyboard="true" 
        data-loop="true"
        data-transition="crossfade"
        data-ratio="800/600">
      <img data-blink-src="{{ page.image1 }}" alt="{{ page.title }} painting image">
      <img data-blink-src="{{ page.image2 }}" alt="{{ page.title }} painting image">
      <img data-blink-src="{{ page.image3 }}" alt="{{ page.title }} painting image">
      <img data-blink-src="{{ page.image4 }}" alt="{{ page.title }} painting image">
      <img data-blink-src="{{ page.image5 }}" alt="{{ page.title }} painting image">
      <img data-blink-src="{{ page.image6 }}" alt="{{ page.title }} painting image">
      <img data-blink-src="{{ page.image7 }}" alt="{{ page.title }} painting image">
      <img data-blink-src="{{ page.image8 }}" alt="{{ page.title }} painting image">
    </div>
  </div>
  {% include painting-definition.html %}
</div>

<script>
  console.log('test!')
  var pageImg = "{{ page.image1 }}"
  console.log(pageImg);
</script>