---
layout: default
title: Paintings
---

<!-- This is the individual painting page config -->
<div class="painting-container">
  <div class="painting-detail-image">
    <div
      class="fotorama"
      data-nav="thumbs"
      data-allowfullscreen="false"
      data-fit="contain"
      data-keyboard="true"
      data-loop="true"
      data-transition="crossfade"
      data-ratio="800/600"
    >
      {% if page.image1 %}
      <img
        src="{{ page.image1 }}-/resize/680x/-/quality/lightest/-/format/jpeg/-/progressive/yes/"
        alt="{{ page.title }} painting image"
      />
      {% endif %} {% if page.image2 %}
      <img
        src="{{ page.image2 }}-/resize/680x/-/quality/lightest/-/format/jpeg/-/progressive/yes/"
        alt="{{ page.title }} painting image"
      />
      {% endif %} {% if page.image3 %}
      <img
        src="{{ page.image3 }}-/resize/680x/-/quality/lightest/-/format/jpeg/-/progressive/yes/"
        alt="{{ page.title }} painting image"
      />
      {% endif %} {% if page.image4 %}
      <img
        src="{{ page.image4 }}-/resize/680x/-/quality/lightest/-/format/jpeg/-/progressive/yes/"
        alt="{{ page.title }} painting image"
      />
      {% endif %} {% if page.image5 %}
      <img
        src="{{ page.image5 }}-/resize/680x/-/quality/lightest/-/format/jpeg/-/progressive/yes/"
        alt="{{ page.title }} painting image"
      />
      {% endif %} {% if page.image6 %}
      <img
        src="{{ page.image6 }}-/resize/680x/-/quality/lightest/-/format/jpeg/-/progressive/yes/"
        alt="{{ page.title }} painting image"
      />
      {% endif %} {% if page.image7 %}
      <img
        src="{{ page.image7 }}-/resize/680x/-/quality/lightest/-/format/jpeg/-/progressive/yes/"
        alt="{{ page.title }} painting image"
      />
      {% endif %} {% if page.image8 %}
      <img
        src="{{ page.image8 }}-/resize/680x/-/quality/lightest/-/format/jpeg/-/progressive/yes/"
        alt="{{ page.title }} painting image"
      />
      {% endif %}
    </div>
  </div>
  {% include painting-definition.html %}
</div>
